<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Data Driven Framework">

    <listeners>
        <listener class-name="com.example.utils.TestListener"/>
    </listeners>

    <test name="Login Test">
    <classes>
            <class name="com.example.tests.LoginPageTests"/>
    </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->